$mainColor: #a23b72;
body {
  margin: 0;
  color: $mainColor;
}
.blue {
  background-color: rgba(3, 146, 207, 0.3);
}
.red {
  background-color: rgba(238, 64, 53, 0.3);
}
.yellow {
  background-color: rgba(255, 240, 71, 0.5);
}
canvas {
  position: absolute;
}
footer {
  position: absolute;
  bottom: 2rem;
  text-align: center;
  width: 100%;
  color: black;
  font-family: 'Lato';
  font-size: 1rem;
  span {
    font-size: 0.8rem;
  }
}
a {
  background: linear-gradient(
    to bottom,
    rgba($mainColor, 0.7) 0%,
    rgba($mainColor, 0.7) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  &:hover {
    background-size: 4px 50px;
    color: white;
    transition: background-size 0.8s, color 0.4s linear;
  }
}

.App {
  .App-1 {
    padding: 5rem;
    font-family: 'Ranga';
    font-size: 3.5rem;
    position: relative;
    .small {
      display: block;
      font-size: 2rem;
    }
    .bio {
      text-align: right;
      position: absolute;
      right: 5rem;
      margin-top: 13rem;
      font-size: 1.3rem;
      width: 30rem;
      font-family: 'Lato';
      line-height: 1.75rem;
      color: black;
      .small {
        font-size: 0.8rem;
      }
    }
  }
}
