body {
  // background-color: #d8fdff;
}
.App {
  padding-left: 5rem;
  padding-top: 5rem;
  .App-1 {
    font-family: 'Ranga';
    font-size: 3.5rem;
    .small {
      display: block;
      font-size: 2rem;
    }
  }
}
